 /* Responsive At 1024px  */
 @media (max-width:1024px) {
     .pizza-header-section {
         .container {
             .pizza-header-container {
                 position: relative;
                 justify-content: space-between;

                 .header-logo {
                     width: 170px;
                 }

                 .pizza-navbar-list {
                     position: fixed;
                     padding-top: 16%;
                     background: var(--priarmy-color);
                     top: 0;
                     left: 100%;
                     max-width: 100%;
                     flex-direction: column;
                     gap: 70px;
                     height: 100vh;
                     justify-content: flex-start;
                     align-items: center;
                     transition: all .3s ease;

                     .pizza-navbar-item {
                         .navbar-link {
                             font-size: 24px;
                         }
                     }
                 }

                 .toggle-btn {
                     display: none;
                     position: absolute;
                     right: 20px;

                     i {
                         font-size: 40px;
                         color: var(--priarmy-color);
                     }

                     input {
                         display: none;
                     }
                 }

                 .burger-icon {
                     display: block;
                 }

                 .nav-close-icon {
                     display: block;
                     left: 37px;
                     top: 30px;

                     i {
                         color: var(--white);
                     }
                 }
             }
         }
     }

     /* END :: Header Section */
 }

 @media (max-width:768px) {
     .pizza-header-section {
         padding: 30px 0 50px;

         .container {
             width: calc(100% - 30px);

             .pizza-header-container {
                 .header-logo {
                     width: 100px;
                 }

                 .pizza-navbar-list {
                     .pizza-navbar-item {
                         .navbar-link {}
                     }
                 }

                 .toggle-btn {
                     right: 0px;

                     i {
                         font-size: 22px;
                     }

                     input {}
                 }
             }
         }
     }
 }