 /* Responsive At 1024px  */
 @media (max-width:1024px) {
     .pizza-header-section {
         .container {
             .pizza-header-container {
                 position: relative;
                 justify-content: space-between;

                 .header-logo {
                     width: 170px;
                 }

                 .pizza-navbar-list {
                     position: fixed;
                     background: var(--priarmy-color);
                     top: 0;
                     left: 100%;
                     max-width: 100%;
                     flex-direction: column;
                     gap: 40px;
                     height: 100vh;
                     justify-content: center;
                     align-items: center;
                     transition: all .3s ease;
                     z-index: 1;

                     .pizza-navbar-item {
                         .navbar-link {
                             font-size: 24px;
                         }
                     }
                 }

                 /* Must be added outside your original selector block */
                 .pizza-navbar-list.active {
                     left: 0;
                 }

                 .toggle-btn {
                     display: none;
                     position: absolute;
                     right: 0px;

                     i {
                         font-size: 40px;
                         color: var(--priarmy-color);
                     }

                     input {
                         display: none;
                     }
                 }

                 .burger-icon {
                     display: block;
                 }

                 .nav-close-icon {
                     display: block;
                     right: 60px;
                     top: 84px;
                     max-width: max-content;

                     i {
                         color: var(--white);
                     }
                 }
             }
         }
     }

     /* END :: Header Section */
     .overview-section {
         .container {
             .overview-container {
                 .overview-cards {
                     display: grid;
                     grid-template-columns: repeat(2, 1fr);
                     place-items: center;

                     .overview-card {
                         max-width: 94%;

                         .overview-card-content {
                             gap: 12px;
                         }
                     }
                 }
             }
         }
     }
 }

 /* === Responsive At 992px
==================================================== */
 @media (max-width:992px) {
     .pizza-header-section {
         .container {
             .pizza-header-container {
                 position: relative;
                 justify-content: space-between;

                 .pizza-navbar-list.active {
                     left: 0;
                 }

                 .nav-close-icon {
                     display: block;
                     right: 60px;
                     top: 84px;
                     max-width: max-content;
                 }

                 .burger-icon {
                     display: block;
                 }
             }
         }
     }

     /* ################### */
     /* ################### */
     /* ################### */
     /* ################### */
     /* ################### */
     /* ################### */
     .pizza-hero-section {
         .container {
             .pizza-hero-container {
                 .hero-container-heading {
                     .hero-container-desc {
                         font-size: 16px;
                         line-height: 23px;
                     }
                 }
             }
         }
     }

     /* #########################  */
     /* #########################  */
     /* #########################  */
     /* #########################  */
     /* #########################  */
     .pizza-menu-section {
         padding: 80px 0;

         .container {
             .pizza-menu-container {
                 flex-direction: column;

                 .menu-container {
                     max-width: 100%;
                     width: 100%;
                     padding: 40px 32px;
                     border-radius: 26px;

                     .menu-list {
                         li {
                             p {}
                         }
                     }
                 }
             }
         }
     }

     /* ###################  */
     /* ###################  */
     /* ###################  */
     /* ###################  */
     .pizza-form-section {
         .container {
             .pizza-form-container {
                 h2 {
                     width: 90%;
                 }

                 .form-container {
                     div {
                         display: flex;
                         flex-direction: column;
                     }

                     .name-date-inputs {
                         input {
                             width: 100%;
                         }
                     }

                     .date-event-inputs {
                         input {
                             width: 100%;
                         }
                     }
                 }
             }
         }
     }

     /* === Responsive At 992px
==================================================== */
 }

 @media (max-width:768px) {
     .pizza-header-section {
         padding: 30px 0 50px;

         .container {
             width: calc(100% - 60px);

             .pizza-header-container {
                 .header-logo {
                     width: 100px;
                 }

                 .toggle-btn {
                     i {
                         font-size: 22px;
                     }
                 }

                 .nav-close-icon {
                     display: block;
                     right: 34px;
                     top: 58px;
                     max-width: max-content;

                     i {
                         color: var(--white);
                     }
                 }
             }
         }
     }

     .pizza-hero-section {
         padding-bottom: 50px;

         .container {
             width: 95%;

             .pizza-hero-container {
                 flex-direction: column;

                 .hero-container-heading {
                     padding-left: 0;
                     max-width: 80%;
                     margin: 0 auto;

                     .hero-container-header {
                         font-size: 80px;
                         line-height: 80px;
                         text-align: center;
                     }

                     .hero-container-desc {
                         text-align: center;
                     }
                 }

                 .hero-container-image {
                     width: 100%;
                 }
             }
         }
     }

     .quality-grid-section {
         .quality-grid-container {
             .quality-grid {
                 aspect-ratio: 1;
                 flex-direction: column;
                 margin: 0 auto;

                 .quality-image {
                     height: 94%;
                     width: 94%;
                     margin: 0 auto;

                     img {
                         border-radius: 18px;
                     }
                 }
             }
         }
     }

     .pizza-form-section {
         .container {
             .pizza-form-container {
                 h2 {
                     font-size: 18px;
                     line-height: 26px;
                 }

                 .form-container {
                     div {}

                     .name-date-inputs {
                         input {}
                     }

                     .date-event-inputs {
                         input {}
                     }
                 }
             }
         }
     }
 }

 /* === Responsive At 576px
==================================================== */
 @media (max-width:576px) {
     .pizza-hero-section {
         .container {
             .pizza-hero-container {
                 .hero-container-heading {
                     .hero-container-header {
                         font-size: 56px;
                         line-height: 56px;
                     }
                 }
             }
         }
     }

     .overview-section {
         padding-block: 60px;

         .container {
             width: calc(100% - 36px);

             .overview-container {
                 .overview-cards {
                     grid-template-columns: 1fr;

                     .overview-card {
                         border-radius: 18px;

                         .overview-card-content {
                             padding: 12px 20px 18px;
                             gap: 12px;

                             p {
                                 font-size: 13px;
                                 line-height: 20px;
                             }

                             .read-more-btn {
                                 width: 100%;
                                 text-align: center;
                             }
                         }
                     }
                 }
             }
         }
     }

     .pizza-menu-section {
         padding: 60px 0;

         .container {
             width: calc(100% - 50px);

             .pizza-menu-container {
                 .menu-container {
                     border-radius: 30px;
                     padding: 36px 26px;

                     h4 {}

                     .menu-list {
                         gap: 10px;

                         li {
                             p {
                                 font-size: 16px;
                                 line-height: 22px;
                             }
                         }
                     }
                 }
             }
         }
     }

     .pizza-form-section {
         .container {
             width: calc(100% - 50px);

             .pizza-form-container {
                 h2 {
                     width: 100%;
                     font-size: 15px;
                     line-height: 20px;
                 }

                 .form-container {
                     div {}

                     .name-date-inputs {
                         input {}
                     }

                     .date-event-inputs {
                         input {}
                     }
                 }
             }
         }
     }
 }

 /* === Responsive At 420px
==================================================== */
 @media (max-width:420px) {
     .pizza-header-section {
         padding: 20px 0 30px;
     }

     .pizza-hero-section {
         .container {
             .pizza-hero-container {
                 gap: 10px;

                 .hero-container-heading {
                     gap: 10px;

                     .hero-container-header {
                         font-size: 38px;
                         line-height: 44px;
                     }
                 }
             }
         }
     }

     .pizza-menu-section {
         padding: 40px 0;

         .container {
             width: calc(100% - 30px);

             .pizza-menu-container {
                 gap: 30px;

                 .menu-container {
                     border-radius: 24px;
                     padding: 26px 20px;

                     .menu-list {
                         gap: 10px;
                     }
                 }
             }
         }
     }

     .pizza-form-section {
         .container {
             .pizza-form-container {
                 h2 {
                     font-size: 18px;
                     line-height: 26px;
                 }

                 .form-container {
                     padding: 30px 0;
                     gap: 10px;

                     div {
                         gap: 10px;

                         input {
                             padding: 6px 0 6px 14px;
                             font-size: 14px;

                             &::placeholder {
                                 font-size: 14px;
                             }
                         }
                     }

                     .message-input {
                         input {
                             padding: 10px 0 60px 14px;
                             border: 1px solid transparent;
                             width: 100%;

                             &:focus {
                                 border: 1px solid black;
                             }
                         }
                     }
                 }
             }
         }
     }
 }