/* Font Family Jost & Aleo  */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* -----------------------------------
-----START :: Pizza Header Section ---
-------------------------------------*/
.pizza-header-section {
    padding: 50px 0 70px;

    /* font-family: "Aleo", serif; */
    /* font-family: "Jost", sans-serif; */
    .container {
        .pizza-header-container {
            display: flex;
            align-items: center;
            gap: 54px;
            justify-content: center;

            .header-logo {
                width: 313px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .pizza-navbar-list {
                background: var(--priarmy-color);
                padding: 18px 50px;
                display: flex;
                border-radius: 34px;
                max-width: 830px;
                justify-content: space-between;
                width: 100%;

                .pizza-navbar-item {
                    .navbar-link {
                        font-family: Jost;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        color: var(--white);
                        letter-spacing: 2.8px;
                        min-width: max-content;
                        display: block;
                    }
                }
            }
        }

        .toggle-btn {
            display: none;
        }
    }
}

/* -----------------------------------
----- END :: Pizza Header Section ---
-------------------------------------*/
/* ############################  */
/* ############################  */
/* ############################  */
/* ############################  */
/* ############################  */
/* -----------------------------------
-----START :: Pizza Hero Section ---
-------------------------------------*/
.pizza-hero-section {
    .container {
        width: 100%;

        .pizza-hero-container {
            display: flex;
            gap: 30px;
            overflow: hidden;

            .hero-container-heading {
                display: flex;
                flex-direction: column;
                justify-content: end;
                gap: 42px;
                max-width: 38%;
                padding-left: 7%;

                .hero-container-header {
                    color: var(--gray-black-color);
                    font-family: "Jost";
                    font-weight: 700;
                    font-size: 5.5vw;
                    line-height: 5.7vw;
                    letter-spacing: 9px;
                    text-transform: uppercase;

                    span {
                        color: var(--priarmy-color);
                    }
                }

                .hero-container-desc {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                    font-family: "Aleo", serif;
                    color: #5C6B73;
                }
            }

            .hero-container-image {
                width: 56vw;
                height: 100%;
                margin-right: -3%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/* Keyframe for the Text (Slide Up and Fade In) */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframe for the Image (Slide Right and Fade In) */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply Fade-Up animation to the main text container */
.hero-container-heading {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    /* Start invisible */
    animation-delay: 0.2s;
    /* Start after a brief moment */
}

/* Apply Fade-Right animation to the Image */
.hero-container-image {
    animation: fadeInRight 1.2s ease-out forwards;
    opacity: 0;
    /* Start invisible */
    animation-delay: 0.5s;
    /* Start slightly later than the text */
}

/* Apply Highlight animation to the <span> */
.hero-container-header span {
    animation: highlight 3s infinite 1.5s;
    /* Repeats infinitely, starts after 1.5s */
}

/* -----------------------------------
-----END :: Pizza Hero Section ---
-------------------------------------*/
/* ########################  */
/* ########################  */
/* ########################  */
/* -----------------------------------
-----START   :: Pizza Quality Section ---
-------------------------------------*/
.quality-grid-section {
    padding: 100px 0;

    .quality-grid-container {
        .quality-grid {
            display: flex;
            aspect-ratio: 2/1;
            gap: 10px;

            .quality-image {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1;
                    border-top-right-radius: 38px;
                    border-bottom-right-radius: 38px;
                }
            }
        }
    }
}

/* -----------------------------------
-----END :: Pizza Quality Section ---
-------------------------------------*/
/* ########################  */
/* ########################  */
/* ########################  */
/* -----------------------------------
-----END :: Pizza Quality Section ---
-------------------------------------*/
.overview-section {
    .container {
        .overview-container {
            .overview-cards {
                display: flex;
                gap: 38px;
                justify-content: center;

                .overview-card {
                    box-shadow: 10px 10px 20px 0px #00000040;
                    max-width: 272px;
                    border-radius: 30px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;

                    .overview-image {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .overview-card-content {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        align-items: stretch;
                        height: 100%;
                        padding: 38px 26px;

                        h3 {
                            color: var(--priarmy-color);
                            font-weight: 700;
                            font-size: 30px;
                            line-height: 35px;
                            letter-spacing: 15%;
                            font-family: "Jost", sans-serif;
                        }

                        p {
                            font-family: "Aleo", serif;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 25px;
                            color: #5C6B73;
                        }

                        .read-more-btn {
                            padding: 5px 30px;
                            border-radius: 200px;
                            color: white;
                            background: var(--priarmy-color);
                            margin: 0 auto;
                            font-family: Jost;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 20px;
                            letter-spacing: 2px;
                            margin-top: auto;
                        }
                    }
                }
            }
        }
    }
}

/* -----------------------------------
-----END :: Pizza Quality Section ---
-------------------------------------*/