/* Font Family Jost & Aleo  */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* -----------------------------------
-----START :: Pizza Header Section ---
-------------------------------------*/
.pizza-header-section {
    padding: 50px 0 70px;

    /* font-family: "Aleo", serif; */
    /* font-family: "Jost", sans-serif; */
    .container {
        .pizza-header-container {
            display: flex;
            align-items: center;
            gap: 54px;
            justify-content: center;

            .header-logo {
                width: 313px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .pizza-navbar-list {
                background: var(--priarmy-color);
                padding: 18px 50px;
                display: flex;
                border-radius: 34px;
                max-width: 830px;
                justify-content: space-between;
                width: 100%;

                .pizza-navbar-item {
                    .navbar-link {
                        font-family: Jost;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        color: var(--white);
                        letter-spacing: 2.8px;
                        min-width: max-content;
                        display: block;
                    }
                }
            }
        }

        .toggle-btn {
            display: none;
        }
    }
}

/* -----------------------------------
----- END :: Pizza Header Section ---
-------------------------------------*/
/* ############################  */
/* ############################  */
/* ############################  */
/* ############################  */
/* ############################  */
/* -----------------------------------
-----START :: Pizza Hero Section ---
-------------------------------------*/
.pizza-hero-section {
    .container {
        width: 100%;

        .pizza-hero-container {
            display: flex;
            gap: 30px;

            .hero-container-heading {
                display: flex;
                flex-direction: column;
                justify-content: end;
                gap: 42px;
                max-width: 36%;
                padding-left: 7%;

                .hero-container-header {
                    color: var(--gray-black-color);
                    font-family: "Jost";
                    font-weight: 700;
                    font-size: 5.5vw;
                    line-height: 5.7vw;
                    letter-spacing: 9px;
                    text-transform: uppercase;

                    span {
                        color: var(--priarmy-color);
                    }
                }

                .hero-container-desc {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                    font-family: "Aleo", serif;
                    color: #5C6B73;
                }
            }

            .hero-container-image {
                width: 59vw;
                height: 100%;
                margin-right: -3%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/* -----------------------------------
-----END :: Pizza Hero Section ---
-------------------------------------*/